<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            <h4>{{processadores.modelo}}</h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>{{processadores.mcache}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label> {{processadores.frequencia}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{processadores.nucleos}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label> {{processadores.soquete}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label> {{processadores.arquitetura}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>MARCA: {{processadores.fabricanteId.nome}}</ion-label>
        </ion-item>
        <ion-item>
            NIVEL: 
            <ion-row>
                <ion-col *ngFor="let star of stars">
                    <ion-icon [name]="star"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-label>VALOR : R${{processadores.valorestimado}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>