<ion-app>

  <ion-menu (ionDidClose)="menuClose()" *ngIf="isLogged()" contentId="main" side="start">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item (click)="navMontagem()">
            <ion-icon slot="start" name="construct-outline"></ion-icon>
            <ion-label>Montagem</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="navHome()">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>



    <ion-footer>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-item (click)="logoff()">
            <ion-label>Logoff</ion-label>    
          </ion-item>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>