<ion-header>
  <ion-toolbar>
    <ion-title>logon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-col>
      <ion-list>
        <ion-label>
          <ion-input type="text" placeholder="E-mail" [(ngModel)]="email"></ion-input>
        </ion-label>
        <ion-label>
          <ion-input type="passWord" placeholder="Senha" [(ngModel)]="senha"></ion-input>
        </ion-label>
      </ion-list>
    </ion-col>
  </ion-grid>

  <ion-grid>
    <ion-col>
      <ion-button (click)="logon()">
        <ion-icon name="person-sharp"></ion-icon> Login
      </ion-button>


      <ion-button (click)="navRegistro()">
        <ion-icon name="person-add-sharp"></ion-icon>
        Cadaste-se
        </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>