<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <h4> {{armazenamento.modelo}}</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{armazenamento.capacidade}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>VALOR : {{armazenamento.valorestimado}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FABRICANTE : {{armazenamento.fabricanteId.nome}}</ion-label>
    </ion-item>
    <ion-item>
      NIVEL: 
      <ion-row>
          <ion-col *ngFor="let star of stars">
              <ion-icon [name]="star"></ion-icon>
          </ion-col>
      </ion-row>
  </ion-item>
  </ion-list>
</ion-content>